<!-- Footer -->

<footer class="page-footer font-small blue-grey lighten-5">

  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Sản phẩm</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">MDBootstrap</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">MDWordPress</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">BrandFlow</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liên kết hữu ích</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Your Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Shipping Rates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Tiếp xúc</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Xóm Đồng Mạc - Xã Tiên Hội - Huyện Đại Từ - Tỉnh Thái Nguyên</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>hailit2306@gmail.com</p>
        <p>
          <i class="fa fa-phone-alt"></i> +0396 355 470</p>
        <p>
        <div class="row">
          <div class="col" id="footer">
            <div id="footer_text">
              Design: <span> <a class="footer_link"
                                target="_blank"
                                href="https://www.facebook.com/thanhhai.tran.1804" style="color: #1a252f">Trần Thanh Hải</a> </span>
            </div>
          </div>
        </div>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="334" height="250" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=codegym%20&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.embedgooglemap.net/blog/namecheap-promo-code/"></a></div>
          <style>.mapouter {
            position: relative;
            text-align: right;
            height: 250px;
            width: 334px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 280px;
            width: 334px;
          }</style>
        </div>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
