
.user-details {
  position: relative;
  padding: 0;
}
.user-details .user-image {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.user-image img {
  clear: both;
  margin: auto;
  position: relative;
}

.user-details .user-info-block {
  width: 100%;
  position: absolute;
  top: 55px;
  background: rgb(255, 255, 255);
  z-index: 0;
  padding-top: 35px;
}
.user-info-block .user-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.user-info-block .navigation {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #428bca;
  border-top: 1px solid #428bca;
}
.navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding: 20px 30px;
  float: left;
}
.navigation li.active a {
  background: #428bca;
  color: #fff;
}
.user-info-block .user-body {
  float: left;
  padding: 5%;
  width: 90%;
}
.user-body .tab-content > div {
  float: left;
  width: 100%;
}
.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333;
}
.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  margin: auto auto 10px;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 50%;
  margin: auto;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  max-height: 100vh;
  padding: 1em;
  font-size: 17px;
  text-transform: capitalize;
  line-height: 32px;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
::before {
  margin-right: 10px;
}
.action {
  margin-bottom: 10px;
}
span.check {
  margin-left: 10px;
  color: red;
  font-weight: bold;
}
